@import url(/styles/generics.css);

body {
    background: none;
    background-color: var(--uci-gray-900) !important;
}

.chat-index-navbar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1% 1.5%;
    background-color: var(--uci-gray-100);
    width: 100%;
    border-bottom: 2px solid var(--uci-purple-500);
    box-shadow: 
        0px 0px 10px 3px var(--uci-shadow);
}

#profile-view-button {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

#profile-view-button:hover {
    transform: scale(120%);
    filter:
        drop-shadow(0px 0px 3px var(--uci-shadow))
        drop-shadow(0px 0px 1px var(--uci-purple-500));
}

.chat-view-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    text-align: center;
}

.aside-view-layout {
    width: 100%;
    height: 100%;
    text-align: center;
}

#left-panel {
    width: 30% !important;

    text-align: left;
    font-family: var(--font-system);
    font-weight: 600;
    font-size: 18px;

    padding: 10px 20px;

    color: var(--uci-gray-100);
    background-color: var(--uci-gray-950);
}