@import url(/styles/generics.css);

body {
    height: 100vh;
    margin: none;
    padding: none;

    justify-content: left;
}

.chat-index-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    left: 0;
    top: 0;
    padding: 1% 1.5%;
    background-color: var(--uci-gray-100);
    width: 100%;
    border-bottom: 2px solid var(--uci-purple-500);
    box-shadow: 
        0px 0px 10px 3px var(--uci-shadow);
    
}

.chat-view-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 45px;
}

#chat-view {
    flex: 1;
}

#chat-sidebar {
    width: 360px;

    background-color: var(--uci-gray-900);
    text-align: left;
    box-shadow: 
        0px 0px 5px 3px var(--uci-shadow);
}

#chat-sidebar li{
    font-family: var(--font-system);
    font-weight: 550;

    color: var(--uci-gray-100);
    list-style: none;

    padding: 5% 8%;
    background-color: var(--uci-gray-1000);

    border-top: 1px solid var(--uci-purple-700);
}
