@import url(components/button-styles.css);
@import url(components/color-scheme.css);
@import url(components/dialog-styles.css);
@import url(components/responsive.css);
@import url(components/view-styles.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient( var(--uci-purple-900) 60%, var(--uci-purple-500));
}
