
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#profile-data {
    display: block;
    color: var(--uci-gray-100);
    font-size: 22px;

    margin: 3px 0px
}

#profile-data #indicator {
    display: inline-block;
    width: 250px;
}

#indicator {
    font-family: var(--font-mono);
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 24px;
    margin-left: 20px;
}

#data {
    font-family: var(--font-system);
    font-weight: 600;
    border-bottom: 2px dashed var(--uci-purple-700);
    padding: 0px 3px;
}
