.default-view-layout {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: var(--uci-gray-900);
    
    background-image: url('https://www.uci.cu/sites/default/files/logo_1.png');
    background-repeat: no-repeat;
    background-position: 95% 95%;
    background-size: 15vh;

    padding: 30px 20px;
    border-radius: 15px;
    gap: 25px;

    box-shadow: 
        0px 15px 20px .5px var(--uci-shadow),
        0px 0px 0px 1.3px var(--uci-purple-700);
}

.default-view-layout p {
    color: var(--uci-gray-100);
    font-family: var(--font-mono);
    font-size: 24px;
    font-weight: 600;
}

.default-view-layout input {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    scale: 100%;

    font-family: var(--font-system);
    font-size: 24px;
    cursor: text;

    padding: 5px 50px;

    border: none;
    border-radius: 100vh;

    opacity: 80%;

    box-shadow: 
        0px 5px 5px 3px var(--uci-shadow),
        0px 0px 0px .5px var(--uci-purple-700);
}

.default-view-layout input:focus {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    scale: 108%;
    opacity: 100%;

    box-shadow: 
        0px 5px 5px 3px var(--uci-shadow),
        0px 0px 0px 5px var(--uci-purple-500);
}

.default-view-tittle {
    margin-bottom: 3px; 
    align-self: center;
    color: var(--uci-gray-100);

    font-family: var(--font-montserrat);
    font-size: 28px;
    font-weight: bold;
}

